.catalog__container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1236px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 148px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}
@media only screen and (min-width: 320px) {
  .catalog__container {
    grid-template-columns: repeat(auto-fill, 196px);
    padding: 0 86px;
  }
}
@media only screen and (min-width: 768px) {
  .catalog__container {
    padding: 0 30px;
  }
}
.catalog__btn-add {
  color: #ffffff;
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}